/* CSS général */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

section {
    margin-bottom: 2.5rem;
}

p {
    font-size: 0.9rem;
    line-height: 1.2rem;
}

a {
    text-decoration: none;
    color: white;
}

/* Header */
header {
    background-color: rgb(40, 40, 150);
    padding-bottom: 1.5rem;

}

footer, .update {
  background-color: rgb(208, 23, 23);
}

header, footer {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header-title {
    width: 70%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-bottom: 0.8rem;
}

header h1 {
    width: 90%;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 0;
}

header img{
    width: 25px;
}

header nav {
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;   
    gap: 1rem;              
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;             
    display: flex;
    flex-direction: column;  
    gap: 1rem;               
}

header nav ul li {
    background-color: rgb(208, 23, 23);
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 25px;            
    border-radius: 5px;
    padding: 0.3rem 1rem;     
}

header nav ul li a {
    width: 100%;             
    text-align: center;      
    display: block;          
}

/* Index */

/* Main content */
#index-main {
    flex: 4;
    padding: 1rem;
    background-image: url("assets/images/bb.jpg");
    background-repeat: repeat;         
    background-size: cover;               
    background-position: center center;
    color: white;
}

#introduction {
    background-color: rgba(243, 0, 32, 0.185);
    padding: 1rem;
    border-radius: 5px;
}

#introduction span {
  font-weight: bold;
  color: blue;
}

.video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.video-container iframe {
  border-radius: 5px;
}

.insta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insta-wrapper {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}

.insta-wrapper .instagram-media {
  max-width: 100% !important;
  min-width: 0 !important;
  width: 100% !important;
}

.concert-img{
    max-width: 250px;
}

#news h3{
  margin-top: 2rem;
  font-size: 1rem;
}

.update{
    width:fit-content;
}


#news a{
    background-color: rgb(40, 40, 150);
}

#news a:hover {
    background-color: rgb(208, 23, 23);
}

.quote {
    background-color: rgba(177, 176, 176, 0.587);
    padding: 1rem;
    border-radius: 5px;
}

.quote p:first-child {
    font-style: italic;
    font-size: 0.9rem;
}

.quote p:last-child {
    font-weight: bold;
}

/* Section Galerie */
.btn {
display: inline-block;
padding: 0.6em 1.4em;
  color: #fff;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 1em;
  text-align: center;
  box-shadow: 0 2px 7px rgba(0,0,0,0.12);
  font-size: 0.9rem;
}

.btn:hover {
    background-color: rgb(208, 23, 23);
}

#gallery a {
    background-color:rgb(208, 23, 23);
}

/* Section social media */
#social-medias ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#social-medias img {
  width: 35px;
}

/* Medias Page */
#medias-main {
    flex: 4;
    padding: 1rem;
    background-image: url("../assets/images/sunset.jpg");
    background-repeat: no-repeat;         
    background-size: cover;               
    background-position: center center;
    color: white;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonnes égales */
  gap: 0.5rem; /* espace entre les images */
  margin-bottom: 2.5rem;
}

.images-container img {
  width: 100%;          /* largeur à 100% de la cellule */
  height: 200px;        /* hauteur fixe pour toutes les images */
  object-fit: cover;    /* recadrage centré et zoom pour remplir la boite */
  border-radius: 8px;   /* coins arrondis optionnels */
}

.images-container h3 {
  margin: auto;
  color: rgb(40, 40, 150);
}

.images-container h3 span {
    font-style: italic;
}

#videos iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 9 / 10;
  max-width: 230px;
  border-radius: 5px;
}

.youtube-container {
  display:grid;
  grid-template-columns: 1fr;
  justify-items: center;
    gap: 1rem;
}

.youtube-container h3{
    color: rgb(40, 40, 150);
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

/* Contact Page */
#contact-main {
    flex: 4;
    padding: 1rem;
    background-image: url("./assets/images/bb-photoshoot.jpg");
    background-repeat: no-repeat;         
    background-size: cover;               
    background-position: center center;
    color: white;
}   

#contact-form {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  margin: 2rem auto;
  color: white;
}

#contact-form h2 {
  text-align: center;
  margin-bottom: 1rem;
}

#contact-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#contact-form label {
  font-weight: bold;
}

#contact-form input,
#contact-form textarea {
  padding: 0.8rem;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
}

#contact-form button {
  padding: 0.9rem;
  border: none;
  border-radius: 5px;
  background-color:rgb(40, 40, 150);
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

#contact-form button:hover {
  background-color: #a11212;
}

/* Events Page */
#events-main {
    flex: 4;
    padding: 1rem;
    background-image: url("assets/images/night.webp");
    background-repeat: no-repeat;         
    background-size: cover;               
    background-position: center center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#events-main img {
    width: 100%;
    border-radius: 8px;
}

.event-description {
  width: 80%;
  margin-top: 1.5rem;
}

/* TABLETTE + DESKTOP */
@media (min-width: 600px) {
    p{
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    h2{
        font-size: 2rem;
    }
    header nav ul {
        flex-direction: row; 
        gap: 1.5rem;       
    }
    #introduction {
        width: 60%;
        margin: 1rem auto;
    }

    #index-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .video-container {
        height: 500px;
    }

    .video-container iframe {
        width: 100%;
        height: 100%;
    }

    #news h3{
        font-size: 1.8rem;
    }

   

    .insta-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    .insta-wrapper {
       margin: 0;
      max-width: 360px;
}

 .concert-container{
      max-width: 355px;
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

.concert-img{
  max-width: 100%;
  border-radius: 5px;
}

.btn{
    padding: 0.9em 1.4em;
    font-size: 1rem;
}

#gallery {
    max-width: 60%;
}

    #medias-main {
        padding: 2rem;
    }

    .images-container img {
        height: 100%;        /* hauteur fixe pour toutes les images */
    }
    
    .images-container {
        grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales */
        gap: 1rem; /* espace entre les images */
    }

    .images-container h3     { grid-column: 2; grid-row: 1; }
.images-container img:nth-child(2) { grid-column: 1; grid-row: 2; font-size: 1.7rem; }
.images-container img:nth-child(3) { grid-column: 2; grid-row: 2; }
    
    #photos h2, #photos p:first-of-type {
        text-align: center;
    }

    #photos p:first-of-type {
        margin-bottom: 3rem;
    }

    .youtube-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .youtube-container h3{
      align-self: center;
      font-size: 1.6rem;
    }

    #gallery a:hover {
    background-color: rgb(40, 40, 150);
}

#social-medias img {
  width: 45px;
}

}
